/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

.slider-nav {
	margin: 0;
	padding: 0;

	vertical-align: baseline;
}
.container-fluid {
	padding-left: 0;
	padding-right: 0;
}

