/* ====================================================
 * support your local library
 * comments/questions? djarrett at dclibraries dot org
   ==================================================== */
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Ubuntu:300,400,500,300italic,400italic,500italic|Open+Sans|Nothing+You+Could+Do|Material+Icons);
body {
	font-family: "Ubuntu", arial, sans-serif;
	font-size: 16px;
	font-weight: 300;
	text-rendering: optimizeLegibility;
}
.container-md {
	max-width: 1920px;
	margin: 0 auto;
}
.container-lg {
	max-width: 2560px;
	margin: 0 auto;
}
.roboto {
	font-family: "Roboto Slab", palantino, serif;
	font-weight: 300;
	line-height: 1.3;
	letter-spacing: -0.4px;
	text-rendering: optimizeLegibility;
}
.nothing {
	font-family: 'Nothing You Could Do', cursive;
	font-size: 30px;
	font-weight: bold;
	text-rendering: optimizeLegibility;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: "Ubuntu", arial, sans-serif;
	font-weight: 300;
	color: #666;
	text-rendering: optimizeLegibility;
	letter-spacing: -0.8px;
}
h4, h5, h6, .h1, .h4, .h5, .h6 {
	line-height: 1.6em;
}
h4, .h4 {
	font-size: 22px;
}
h5, .h5 {
	font-size: 18px;
}
h1.roboto {
	font-size: 32px;
}
h2.roboto {
	font-size: 26px;
}
ul, ol {
	padding-left: 25px;
}
td, th {
	padding: 10px;
}
.table > thead > tr > th {
	border-top: 0px;
}
table a:not(.btn), .table a:not(.btn) {
	text-decoration: initial;
}
table a:hover {
	text-decoration: underline!important;
}
table.dataTable thead th, table.dataTable thead td {
	background-color: #eee;
	border-bottom: 3px solid #ccc;
	padding: 0px 18px;
}
#book-clubs_length > label, #book-clubs_filter > label {
	font-weight: normal;
}
/* work on some more
.container-fluid a {
background: linear-gradient(#fff, #fff) no-repeat scroll 0 95% / 0.05em 1px, linear-gradient(#fff, #fff) no-repeat scroll 100% 95% / 0.05em 1px, rgba(0, 0, 0, 0) linear-gradient(#B0852E, #B0852E) repeat-x scroll 0 95% / 1px 1px;
    color: #B0852E;
    text-shadow: 0.03em 0 #fff, -0.03em 0 #fff, 0 0.03em #fff, 0 -0.03em #fff, 0.06em 0 #fff, -0.06em 0 #fff, 0.09em 0 #fff, -0.09em 0 #fff, 0.12em 0 #fff, -0.12em 0 #fff, 0.15em 0 #fff, -0.15em 0 #fff;
}

.container-fluid .bg-salmon a {
background: linear-gradient(#d36a50, #d36a50) no-repeat scroll 0 95% / 0.05em 1px, linear-gradient(#d36a50, #d36a50) no-repeat scroll 100% 95% / 0.05em 1px, rgba(0, 0, 0, 0) linear-gradient(#fff, #fff) repeat-x scroll 0 95% / 1px 1px;
    color: #fff;
    text-shadow: 0.03em 0 #d36a50, -0.03em 0 #d36a50, 0 0.03em #d36a50, 0 -0.03em #d36a50, 0.06em 0 #d36a50, -0.06em 0 #d36a50, 0.09em 0 #d36a50, -0.09em 0 #d36a50, 0.12em 0 #d36a50, -0.12em 0 #d36a50, 0.15em 0 #d36a50, -0.15em 0 #d36a50;
}
*/
a:visited, a:hover, a:focus {
	outline: 0;
}
a:hover, a:focus {
	text-decoration: underline;
	-webkit-transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	transition-duration: 0.4s;
}
a {
	color: #B0852E;
	outline: 0;
}
a:visited, a:hover, a:focus {
	outline: 0;
}
a:hover, a:focus {
	color: #8a6824;
	-webkit-transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	transition-duration: 0.4s;
}
.modal-backdrop {
	background-color: #fff;
}
.modal-backdrop.in {
	opacity: 0.4
}
.modal-content {
	border: 0;
}
.modal-header {
	padding: 10px;
}
.alert .alert-link {
	font-weight: normal;
}
.pointer {
	cursor: pointer;
}
/* ====== typography ====== */
.text-underline {
	text-decoration: underline;
}
.text-underline:hover {
	text-decoration: underline;
	opacity: .8;
}
.v-align-middle {
	vertical-align: middle;
}
.v-align-top {
	vertical-align: top;
}
.text-primary, .text-primary:hover {
	color: #4e3b59;
}
.text-success, .text-success:hover {
	color: #74894e;
}
.text-info, .text-info:hover {
	color: #3975AF;
}
.text-warning, .text-warning:hover {
	color: #d36a50;
}
.text-danger, .text-danger:hover {
	color: #ae2924;
}
.font-weight-400 {
	font-weight: 400;
}
.font-weight-500 {
	font-weight: 500;
}
.font-weight-700 {
	font-weight: 700;
}
blockquote, .blockquote-reverse, blockquote.pull-right {
	font-size: 20px;
	font-style: italic;
	margin: 0;
	border-left: none;
	padding: 0;
}
.blockquote-reverse, blockquote.pull-right {
	text-align: right;
}
blockquote footer, blockquote small, blockquote .small {
	font-family: "Ubuntu", arial, sans-serif;
	font-size: 16px;
}
.btn-lg {
	white-space: normal;
	font-size: 16px;
	padding: 15px 18px;
}
.col-centered {
	float: none;
	margin: 0 auto;
}
.collapse.navbar-collapse {
	font-family: "Open Sans", arial, sans-serif;
	font-size: 14px;
}
.navbar {
	margin-bottom: 0;
}
.navbar-default {
	background-color: #fff;
	border-color: #fff;
}
.navbar-default .navbar-nav > li > a {
	color: #000;
	padding-left: 14px;
	padding-right: 14px;
}
.navbar-default .navbar-nav a:hover, .navbar-default .navbar-nav a:focus {
	background-color: #ffff;
	cursor: pointer;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	background-color: #f5f5f5;
	color: #000;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background-color: #f5f5f5;
	color: #000;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #333;
}
.navbar-toggle .icon-bar {
	border-radius: 3px;
	display: block;
	height: 3px;
	width: 26px;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #fff;
}
.bottom-nav, .top-nav {
	font-size: 16px;
}
.navbar-default .navbar-brand, .navbar-default .navbar-nav .open .dropdown-menu > li > a {
	color: #000;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #000;
}
.input-group-addon, .input-group-btn {
	vertical-align: top;
}
.login-wrapper {
	background-color: #d9d7d4;
}
.form-control::-moz-placeholder {
 color: #555;
 opacity: 1;
}
.form-control:focus {
	border-color: none;
	box-shadow: none;
	outline: 0 none;
}
.search-collapsed {
	border: 0;
	background-color: #fff;
	font-size: 25px;
	padding: 0 15px;
	border-left: 2px solid #ccc;
}
.fa-ul.board-list > li {
	margin-bottom: 10px;
}
/* ====== navbar, search and login ====== */

.navbar-nav {
	font-size: 15px;
}
.dcl-search {
	margin: 25px 10px 0;
}
.cp_header_client_area {
	margin: 12px 0 33px;
}
.cp_header_biblio_bar .biblio_bar_link {
	display: block;
	padding: 9px 5px;
}
.cp_header_biblio_bar a.my_account_toggle.dropdown-toggle {
	background: #006066 none repeat scroll 0 0;
	color: #fff;
	font-weight: 400;
	padding: 11px 2px 11px 19px;
}
.cp_header_biblio_bar .biblionav_my_account {
	width: 100%;
}
.cp_header_biblio_bar .biblionav_my_account .log_out_btn, .cp_header_biblio_bar .biblionav_my_account .log_in_btn {
	color: #fff;
}
.cp_header_biblio_bar .biblionav_my_account .indented {
	padding-left: 35px;
}
.cp_header_biblio_bar .biblionav_my_account .info {
	background-color: #f5f5f5;
	margin-bottom: -10px;
	margin-top: -5px;
	padding: 10px 15px;
}
.cp_header_biblio_bar .biblionav_my_account .info::before, .cp_header_biblio_bar .biblionav_my_account .info::after {
	content: " ";
	display: table;
}
.cp_header_biblio_bar .biblionav_my_account .info::after {
	clear: both;
}
.cp_header_biblio_bar .biblionav_my_account .info .btn {
	padding: 6px 10px;
	position: relative;
}
.cp_header_biblio_bar .biblionav_my_account .info .btn:first-of-type {
	background: #008000 none repeat scroll 0 0;
}
.cp_header_biblio_bar .biblionav_my_account .info .btn:first-of-type:hover {
	background: #316F31 none repeat scroll 0 0;
}
.cp_header_biblio_bar .biblionav_my_account .dropdown-header {
	color: #333;
	font-size: 13px;
	font-weight: 500;
	text-transform: uppercase;
}
.cp_header_biblio_bar {
	background-color: #fff;
	border-bottom: 3px solid #006066;
	padding: 0;
}
.search-label {
	font-size: 24px;
	line-height: 16px;
	padding-bottom: 15px;
}
#mobile-search {
	padding: 30px 0 60px;
}
.nav.mobile-nav {
	margin: 60px 0 0;
}
.mobile-nav-heading a {
	color: #333;
	font-size: 20px;
}
.mobile-nav-list a {
	margin: 0 20px;
	color: #333;
	font-size: 18px;
}
.dcl-mobile-nav .modal-header {
	border-bottom: medium none;
}
.input-group .desktop-search {
	float: right;
	width: 370px;
}
.dcl-mobile-navbar .fa-bars {
	color: #333;
	font-size: 30px;
	margin: 7px 0 0 30px;
	vertical-align: middle;
}
.dcl-mobile-navbar .fa-bars:hover {
	cursor: pointer;
}
.dcl-mobile-nav.modal-dialog {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}
.dcl-mobile-nav.modal-content {
	border-radius: 0;
	padding-bottom: 120px;
}
.mobile-nav-close {
	border-radius: 0 0 5px 5px;
	box-shadow: 0 1px 4px #666666;
	cursor: pointer;
	position: fixed;
	opacity: 1;
	right: 30px;
	top: 0;
	z-index: 250000;
}
.mobile-nav-close .fa-times {
	padding: 10px;
	font-size: 40px;
}
.close.mobile-nav-close {
	color: #006066;
}
.mobile-nav-close:hover {
	background: #006066;
	color: #fff;
}
.mobile-search-icon > a:before {
	font-family: FontAwesome;
	content: "\f00d";
	color: #333;
	float: right;
	margin: 18px 20px 0 0;
	font-size: 24px;
	cursor: pointer;
}
.mobile-search-icon > a.collapsed:before {
	content: "\f002";
}
.alert {
	margin-bottom: 0;
}
.footer ul {
	list-style: outside none none;
	padding: 0;
}
.footer a, .footer a:active, .footer a:hover, .social-links-wrapper a {
	color: #444;
}
.content-wrapper {
	max-width: 1920px;
}
/* ====== sub-menus ====== */
.dropdown-sub-menu {
	background-clip: padding-box;
	background-color: transparent;
	border: medium none;
	border-radius: 0;
	box-shadow: none;
	display: none;
	float: left;
	font-size: 16px;
	left: 48px;
	list-style: outside none none;
	margin: 0;
	padding: 0;
	position: relative;
	text-align: left;
	top: 100%;
	width: 100%;
	z-index: 1000;
}
.events-dropdown {
	background-clip: padding-box;
	background-color: rgba(0,0,0,0.3);
	border: medium none;
	border-radius: 0;
	display: none;
	float: left;
	list-style: outside none none;
	margin: 0;
	padding: 15px 40px;
	position: relative;
	text-align: left;
	width: 100%;
	z-index: 1000;
}
/* ====== staff picks ====== */

.cover-image {
	box-shadow: 0 5px 15px -7px #000;
	max-height: 200px;
	max-width: 180px;
	position: relative;
	top: 20px;
	transition: all 0.5s ease-in-out;
}
.cover-image:hover, .cover-image:focus {
	box-shadow: 0 5px 10px #838383;
	top: 5px;
	transition: all 0.5s ease-in-out;
}
/* ====== buttons ====== */
.btn-database {
	font-size: 20px;
	font-weight: 300;
}
.btn-search {
	background-color: #456e70;
	border: 1px solid #456e70;
	color: #fff;
}
.btn-search:active, .btn-search:hover, .btn-search:focus {
	background-color: #4f868b;
	border: 1px solid #4f868b;
	color: #fff;
}
.btn-default {
	background-color: #456e70;
	border: 0;
	-webkit-box-shadow: 0px 3px 3px -3px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 3px -3px rgba(0,0,0,0.75);
	box-shadow: 0px 3px 3px -3px rgba(0,0,0,0.75);
}
a.btn.btn-default {
	color: #fff;
	text-transform: uppercase;
}
.btn-default:active, .btn-default:hover, .btn-default:focus {
	background-color: #4f868b;
	border: 0;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 4px 8px 0;
	-moz-box-shadow: rgba(0, 0, 0, 0.3) 0 4px 8px 0;
	box-shadow: rgba(0, 0, 0, 0.3) 0 4px 8px 0;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease-out;
	-ms-transition: all .4s ease-out;
	-o-transition: all .4s ease-out;
	transition: all .4s ease-out;
	opacity: 1;
	cursor: pointer;
}
.btn-primary {
	background-color: #4e3b59;
	border: 0;
	-webkit-box-shadow: 0px 3px 3px -3px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 3px -3px rgba(0,0,0,0.75);
	box-shadow: 0px 3px 3px -3px rgba(0,0,0,0.75);
}
a.btn.btn-primary {
	color: #fff;
	text-transform: uppercase;
}
.btn-primary:active, .btn-primary:hover, .btn-primary:focus {
	background-color: #65577b;
	border: 0;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 4px 8px 0;
	-moz-box-shadow: rgba(0, 0, 0, 0.3) 0 4px 8px 0;
	box-shadow: rgba(0, 0, 0, 0.3) 0 4px 8px 0;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease-out;
	-ms-transition: all .4s ease-out;
	-o-transition: all .4s ease-out;
	transition: all .4s ease-out;
	opacity: 1;
	cursor: pointer;
}
.btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
	background-color: #4e3b59;
	border: 0;
	color: #ffffff;
}
.btn-primary:active:hover, .btn-primary.active:hover, .open > .dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open > .dropdown-toggle.btn-primary:focus, .btn-primary.focus:active, .btn-primary.active.focus, .open > .dropdown-toggle.btn-primary.focus {
	background-color: #4e3b59;
	border: 0;
	color: #ffffff;
}
.btn-link {
	color: #4e3b59;
}
.btn-link:active, .btn-link:hover, .btn-link:focus {
	background-color: #4e3b59;
	border: 0;
	color: #ffffff;
	text-decoration: none;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 4px 8px 0;
	-moz-box-shadow: rgba(0, 0, 0, 0.3) 0 4px 8px 0;
	box-shadow: rgba(0, 0, 0, 0.3) 0 4px 8px 0;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease-out;
	-ms-transition: all .4s ease-out;
	-o-transition: all .4s ease-out;
	transition: all .4s ease-out;
	opacity: 1;
	cursor: pointer;
}
.btn-link:active, .btn-link.active, .open > .dropdown-toggle.btn-link {
	background-color: #4e3b59;
	border: 0;
	color: #ffffff;
	text-decoration: none;
}
.btn-link:active:hover, .btn-link.active:hover, .open > .dropdown-toggle.btn-link:hover, .btn-link:active:focus, .btn-link.active:focus, .open > .dropdown-toggle.btn-link:focus, .btn-link.focus:active, .btn-link.active.focus, .open > .dropdown-toggle.btn-link.focus {
	background-color: #4e3b59;
	border: 0;
	color: #ffffff;
	text-decoration: none;
}
.btn-link-unstyled {
	border: 0;
	color: #B0852E;
	background: none;
}
.btn-link-unstyled:active, .btn-link-unstyled:hover, .btn-link-unstyled:focus {
	background: none;
	border: 0;
	color: #8a6824;
	text-decoration: underline;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease-out;
	-ms-transition: all .4s ease-out;
	-o-transition: all .4s ease-out;
	transition: all .4s ease-out;
	transform: translateY(0px);
	opacity: 1;
	cursor: pointer;
}
.btn-success {
	background-color: #74894e;
	border: 0;
	-webkit-box-shadow: 0px 3px 3px -3px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 3px -3px rgba(0,0,0,0.75);
	box-shadow: 0px 3px 3px -3px rgba(0,0,0,0.75);
}
.btn-success:active, .btn-success:hover, .btn-success:focus {
	background-color: #91ae65;
	border: 0;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 4px 8px 0;
	-moz-box-shadow: rgba(0, 0, 0, 0.3) 0 4px 8px 0;
	box-shadow: rgba(0, 0, 0, 0.3) 0 4px 8px 0;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease-out;
	-ms-transition: all .4s ease-out;
	-o-transition: all .4s ease-out;
	transition: all .4s ease-out;
	opacity: 1;
	cursor: pointer;
}
.btn-info {
	background-color: #3975af;
	border: 0;
	-webkit-box-shadow: 0px 3px 3px -3px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 3px -3px rgba(0,0,0,0.75);
	box-shadow: 0px 3px 3px -3px rgba(0,0,0,0.75);
}
.btn-info:active, .btn-info:hover, .btn-info:focus {
	background-color: #3f81c1;
	border: 0;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 4px 8px 0;
	-moz-box-shadow: rgba(0, 0, 0, 0.3) 0 4px 8px 0;
	box-shadow: rgba(0, 0, 0, 0.3) 0 4px 8px 0;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease-out;
	-ms-transition: all .4s ease-out;
	-o-transition: all .4s ease-out;
	transition: all .4s ease-out;
	opacity: 1;
	cursor: pointer;
}
.btn-warning {
	background-color: #d36a50;
	border: 0;
	-webkit-box-shadow: 0px 3px 3px -3px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 3px -3px rgba(0,0,0,0.75);
	box-shadow: 0px 3px 3px -3px rgba(0,0,0,0.75);
}
.btn-warning:active, .btn-warning:hover, .btn-warning:focus {
	background-color: #ed785a;
	border: 0;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 4px 8px 0;
	-moz-box-shadow: rgba(0, 0, 0, 0.3) 0 4px 8px 0;
	box-shadow: rgba(0, 0, 0, 0.3) 0 4px 8px 0;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease-out;
	-ms-transition: all .4s ease-out;
	-o-transition: all .4s ease-out;
	transition: all .4s ease-out;
	opacity: 1;
	cursor: pointer;
}
.btn-danger {
	background-color: #ae2924;
	border: 0;
	-webkit-box-shadow: 0px 3px 3px -3px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 3px -3px rgba(0,0,0,0.75);
	box-shadow: 0px 3px 3px -3px rgba(0,0,0,0.75);
}
.btn-danger:active, .btn-danger:hover, .btn-danger:focus {
	background-color: #ad4949;
	border: 0;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 4px 8px 0;
	-moz-box-shadow: rgba(0, 0, 0, 0.3) 0 4px 8px 0;
	box-shadow: rgba(0, 0, 0, 0.3) 0 4px 8px 0;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease-out;
	-ms-transition: all .4s ease-out;
	-o-transition: all .4s ease-out;
	transition: all .4s ease-out;
	opacity: 1;
	cursor: pointer;
}
.shadow-low {
	-webkit-box-shadow: 0px 5px 5px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 5px 5px -5px rgba(0,0,0,0.75);
	box-shadow: 0px 5px 5px -5px rgba(0,0,0,0.75);
}
.shadow-high {
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 8px 16px 0;
	-moz-box-shadow: rgba(0, 0, 0, 0.3) 0 8px 16px 0;
	box-shadow: rgba(0, 0, 0, 0.3) 0 8px 16px 0;
}
.hover-shadow:hover, .hover-shadow:focus {
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 8px 16px 0;
	-moz-box-shadow: rgba(0, 0, 0, 0.3) 0 8px 16px 0;
	box-shadow: rgba(0, 0, 0, 0.3) 0 8px 16px 0;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease-out;
	-ms-transition: all .4s ease-out;
	-o-transition: all .4s ease-out;
	transition: all .4s ease-out;
	/* ====== remove for now - transform: translateY(-2px);====== */
	opacity: 1;
	cursor: pointer;
	text-decoration: none;
	color: #333;
}
.shadow-low-hover:hover {
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 8px 16px 0;
	-moz-box-shadow: rgba(0, 0, 0, 0.3) 0 8px 16px 0;
	box-shadow: rgba(0, 0, 0, 0.3) 0 8px 16px 0;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease-out;
	-ms-transition: all .4s ease-out;
	-o-transition: all .4s ease-out;
	transition: all .4s ease-out;
}
.shadow-high-hover:hover {
	-webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 8px 20px 0;
	-moz-box-shadow: rgba(0, 0, 0, 0.5) 0 8px 20px 0;
	box-shadow: rgba(0, 0, 0, 0.5) 0 8px 20px 0;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease-out;
	-ms-transition: all .4s ease-out;
	-o-transition: all .4s ease-out;
	transition: all .4s ease-out;
}
a.hover-shadow {
	color: #333;
}
.hover-fade:hover, .hover-fade:focus {
	opacity: .8;
}
.no-text-decoration, .no-text-decoration a:hover {
	text-decoration: none;
}
.row.equal [class*="col-"] {
	margin-bottom: -99999px;
	padding-bottom: 99999px;
}
.row.equal {
	overflow: hidden;
}
.carousel-control.right, .carousel-control.left {
	background-image: none;
}
.carousel-control {
	text-shadow: none;
}
.separator-container {
	position: relative;
	text-align: center;
}
.separator-container .separator {
	color: #999;
	margin: 0 auto;
	width: 11em;
}
.separator-container .separator.line-separator::before, .separator-container .separator.line-separator::after {
	border: 1px solid #999;
	content: " ";
	display: block;
	margin-top: 10px;
	width: 40%;
}
.separator-container .fff.separator.line-separator::before, .separator-container .fff.separator.line-separator::after {
	border: 1px solid #fff;
}
.separator-container .white.separator.line-separator::before, .separator-container .white.separator.line-separator::after {
	border: 1px solid #fff;
}
.separator-container .separator.line-separator::before {
	float: left;
}
.separator-container .separator.line-separator::after {
	float: right;
}
.opacity-9 {
	opacity: .9;
}
.opacity-8 {
	opacity: .8;
}
.opacity-7 {
	opacity: .7;
}
.opacity-6 {
	opacity: .6;
}
.opacity-5 {
	opacity: .5;
}
.opacity-4 {
	opacity: .4;
}
.opacity-3 {
	opacity: .3;
}
.opacity-2 {
	opacity: .2;
}
.fff, .white {
	color: #fff;
}
.small.fff, .small.white {
	color: #fff;
}
.eee {
	color: #eee;
}
.ccc {
	color: #ccc;
}
.black {
	color: #000;
}
.salmon {
	color: #d36a50;
}
.wheat {
	color: #e2c23b;
}
.moss {
	color: #90ad63;
}
.teal {
	color: #4f878c;
}
.lavender {
	color: #65587b;
}
.loquacious {
	color: #B0852E;
}
.text-dark {
	color: #333;
}
.sold-out {
	border: 2px solid red;
	color: red;
	padding: 6px;
	text-align: center;
	text-transform: uppercase;
	width: 250px;
}
a.fff:hover, a.fff:focus, a.fff:active, a.fff:visited {
	color: #fff;
}
a.white:hover, a.white:focus, a.white:active, a.white:visited {
	color: #fff;
}
a.eee:hover, a.eee:focus, a.eee:active, a.eee:visited {
	color: #eee;
}
a.ccc:hover, a.ccc:focus, a.ccc:active, a.ccc:visited {
	color: #ccc;
}
a.salmon:hover, a.salmon:focus, a.salmon:active, a.salmon:visited {
	color: #d36a50;
}
a.wheat:hover, a.wheat:focus, a.wheat:active, a.wheat:visited {
	color: #e2c23b;
}
a.moss:hover, a.moss:focus, a.moss:active, a.moss:visited {
	color: #90ad63;
}
a.teal:hover, a.teal:focus, a.teal:active, a.teal:visited {
	color: #4f878c;
}
a.lavender:hover, a.lavender:focus, a.lavender:active, a.lavender:visited {
	color: #65587b;
}
a.text-dark:hover, a.text-dark:focus, a.text-dark:active, a.text-dark:visited {
	color: #333;
}
/* ====== text size ====== */
.jumbo-text {
	font-size: 48px;
}
.large-text {
	font-size: 1.2em;
}
/* ====== feeds2js ====== */
.rss-item {
	list-style: none;
	padding: 0 0 15px;
	margin: 0;
}
.rss-items {
	padding: 0;
	margin: 0;
}
.rss-item a {
	font-size: 20px;
}
/* ====== responsive head elements ====== */
h1.responsive-text {
	font-size: 3.5vmax;
}
h2.responsive-text {
	font-size: 3vmax;
}
h3.responsive-text {
	font-size: 2.5vmax;
}
h4.responsive-text {
	font-size: 2.2vmax;
}
h5.responsive-text {
	font-size: 2vmax;
}
h6.responsive-text {
	font-size: 1.8vmax;
}
.responsive-text {
	font-size: 1.6vmax;
}
.icon-circle {
	border: 3px solid #666;
	border-radius: 50%;
	box-sizing: border-box;
	color: #666;
	font-size: 60px;
	height: 100px;
	line-height: 90px;
	margin: 0 auto;
	text-align: center;
	width: 100px;
}
.icon-circle-default {
	border: 3px solid #fff;
	border-radius: 50%;
	box-sizing: border-box;
	color: #fff;
	font-size: 60px;
	height: 100px;
	line-height: 90px;
	margin: 0 auto;
	text-align: center;
	width: 100px;
}
.icon-circle-default .fa {
	color: #fff;
}
.icon-circle-white {
	border: 3px solid #fff;
	border-radius: 50%;
	box-sizing: border-box;
	color: #fff;
	background-color: #fff;
	font-size: 60px;
	height: 100px;
	line-height: 90px;
	margin: 0 auto;
	text-align: center;
	width: 100px;
}
.icon-circle-salmon {
	border: 3px solid #d36a50;
	border-radius: 50%;
	box-sizing: border-box;
	color: #d36a50;
	background-color: #fff;
	font-size: 60px;
	height: 100px;
	line-height: 90px;
	margin: 0 auto;
	text-align: center;
	width: 100px;
}
.icon-circle-wheat {
	border: 3px solid #f5c875;
	border-radius: 50%;
	box-sizing: border-box;
	color: #f5c875;
	background-color: #fff;
	font-size: 60px;
	height: 100px;
	line-height: 90px;
	margin: 0 auto;
	text-align: center;
	width: 100px;
}
.icon-circle-moss {
	border: 3px solid #90ad63;
	border-radius: 50%;
	box-sizing: border-box;
	color: #90ad63;
	background-color: #fff;
	font-size: 60px;
	height: 100px;
	line-height: 90px;
	margin: 0 auto;
	text-align: center;
	width: 100px;
}
.icon-circle-moss-reversed {
	background-color: #90ad63;
	border: 3px solid #fff;
	border-radius: 50%;
	box-sizing: border-box;
	color: #fff;
	font-size: 60px;
	height: 100px;
	line-height: 90px;
	margin: 0 auto;
	text-align: center;
	width: 100px;
}
.icon-circle-teal {
	border: 3px solid #4f878c;
	border-radius: 50%;
	box-sizing: border-box;
	color: #4f878c;
	background-color: #fff;
	font-size: 60px;
	height: 100px;
	line-height: 90px;
	margin: 0 auto;
	text-align: center;
	width: 100px;
}
.icon-circle-teal-reversed {
	background-color: #4f878c;
	border: 3px solid #fff;
	border-radius: 50%;
	box-sizing: border-box;
	color: #fff;
	font-size: 60px;
	height: 100px;
	line-height: 90px;
	margin: 0 auto;
	text-align: center;
	width: 100px;
}
.icon-circle-lavender {
	border: 3px solid #65587b;
	border-radius: 50%;
	box-sizing: border-box;
	color: #65587b;
	background-color: #fff;
	font-size: 60px;
	height: 100px;
	line-height: 90px;
	margin: 0 auto;
	text-align: center;
	width: 100px;
}
.icon-circle-lavender-reversed {
	border: 3px solid #fff;
	border-radius: 50%;
	box-sizing: border-box;
	color: #fff;
	background-color: #65587b;
	font-size: 60px;
	height: 100px;
	line-height: 90px;
	margin: 0 auto;
	text-align: center;
	width: 100px;
}
.icon-circle-loquacious {
	border: 3px solid #B0852E;
	border-radius: 50%;
	box-sizing: border-box;
	color: #B0852E;
	background-color: #fff;
	font-size: 60px;
	height: 100px;
	line-height: 90px;
	margin: 0 auto;
	text-align: center;
	width: 100px;
}
.circ-wrap {
	border: 1px solid #999;
	border-radius: 50%;
	box-sizing: border-box;
	color: #dddddd;
	font-size: 80px;
	height: 125px;
	line-height: 117px;
	margin: 0 auto;
	text-align: center;
	width: 125px;
}
.circ-wrap-bizinfo {
	border: 1px solid #d36a50;
	color: #d36a50;
}
.circ-wrap-mediakit {
	border: 1px solid #999;
	color: #999;
	line-height: 127px;
}
.logo-mediakit {
	border: 5px solid #ccc;
}
/* ====== material-design nav-tabs ====== */
.nav-tabs {
	border-bottom: 2px solid #DDD;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
	border-width: 0;
}
.nav-tabs > li > a {
	border: none;
	color: #666;
}
.nav-tabs > li.active > a, .nav-tabs > li > a:hover {
	border: none;
	color: #4285F4 !important;
	background: transparent;
}
.nav-tabs > li > a::after {
	content: "";
	background: #74894e;
	height: 2px;
	position: absolute;
	width: 100%;
	left: 0px;
	bottom: -1px;
	transition: all 500ms ease 0s;
	transform: scale(0);
}
.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after {
	transform: scale(1);
}
.tab-nav > li > a::after {
	background: #21527d none repeat scroll 0% 0%;
	color: #fff;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	background-color: transparent;
}
.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus {
	border: none;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	background-color: #74894e;
}
.nav > li > a:hover, .nav > li > a:focus {
	background-color: #eee;
}
/* ====== no-gutter class ====== */
.no-gutter > [class*='col-'] {
	padding-right: 0;
	padding-left: 0;
}
.no-gutter-left {
	padding-left: 0;
}
.no-gutter-right {
	padding-right: 0;
}
.gutter-five {
	margin-left: -10px;
	margin-right: -10px;
}
/* ====== databases ====== */
.db-small {
	color: #cb5b4c;
}
.default-block-container {
	position: relative;
}
.default-block-container:hover {
	color: #fff;
	background-color: #d36a50;
}
.default-block-container:hover h1, .default-block-container:hover h2, .default-block-container:hover h3, .default-block-container:hover h4, .default-block-container:hover span {
	color: #fff;
}
.span:hover {
	color: #fff;
}
.link-spanner {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}
.database-box h4 {
	line-height: 1.2em;
}
.database-dropdown {
	width: 100%;
	position: relative;
	padding: 0;
}
.database-dropdown a:hover, .database-dropdown a:focus {
	background-color: #AA5440;
	color: #ffffff;
	text-decoration: none;
}
.database-dropdown .no-margin a {
	color: #fff;
	line-height: 20px;
	padding: 10px 40px;
	text-align: left;
}
.database-dropdown .no-margin a:hover {
	color: #fff;
}
.show .fa {
	margin-right: 5px;
}
.dropdown-menu > li > a {
	font-weight: 300;
	padding: 8px 25px;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	background-color: #f5f5f5;
	color: #000;
	text-decoration: none;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
	background-color: #f5f5f5;
	color: #000;
	outline: 0 none;
	text-decoration: none;
}
.dropdown-menu-center {
	left: 50%;
	right: auto;
	transform: translate(-50%, 0);
}
.btn-database {
	color: #fff;
	background-color: #4D4C4B;
	font-size: 24px;
	font-weight: 400;
	border: 0 none;
	box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.75);
}
.btn-database:active, .btn-database:hover, .btn-database:focus {
	background-color: #666;
	border: 0 none;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
	cursor: pointer;
	opacity: 1;
	transition: all 0.4s ease-out 0s;
}
.btn-database:active, .btn-database.active, .open > .dropdown-toggle.btn-database {
	background-color: #4D4C4B;
	border: 0 none;
	color: #ffffff;
}
.btn-database:active:hover, .btn-database.active:hover, .open > .dropdown-toggle.btn-database:hover, .btn-database:active:focus, .btn-database.active:focus, .open > .dropdown-toggle.btn-database:focus, .btn-database.focus:active, .btn-database.active.focus, .open > .dropdown-toggle.btn-database.focus {
	background-color: #4D4C4B;
	border: 0 none;
	color: #ffffff;
}
.panel {
	border: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.panel-title {
	font-size: 16px;
}
.panel-group .panel-heading {
	background: #efeeed none repeat scroll 0 0;
	border-bottom: 0 none;/*box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.75);*/
}
.panel > .panel-heading:hover, .panel > .panel-heading:focus {
	cursor: pointer;
	background-color: #4f878c;
	color: #fff;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease-out;
	-ms-transition: all .4s ease-out;
	-o-transition: all .4s ease-out;
	transition: all .4s ease-out;
}
.panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group {
	border-top: none;
	background-color: #fff;
}
/* ====== evanced feed ====== */
#eventtitle {
	color: #888888;
	font-size: 22px;
	font-weight: 300;
	margin-top: 20px;
}
#eventtime, #eventdate, #eventlibrary, #eventlocation {
	color: #999;
	font-size: 14px;
	text-transform: uppercase;
}
#eventlocation::after {
	content: " - ";
}
#eventtime, #eventdate, #eventlocation, #eventlibrary {
	display: inline;
}
#eventdate {
	margin-right: 20px;
}
/* ====== alert color classes ====== */
#global-alert {
	color: #fff;
	background-color: #AD1A27;
	font-size: 20px;
	padding: 5px 0 6px;
	text-align: center;
}
#local-alert {
	color: #fff;
	background-color: #AD1A27;
	font-size: 20px;
	padding: 5px 0 6px;
	text-align: center;
}
.alert-warning {
	background-color: #AD1A27;
}
.alert-success {
	background-color: #74894e;
}
.alert-info {
	background-color: #3975AF;
	color: #fff;
}
.alert-danger {
	background-color: #ae2924;
}
/* ====== background color classes ====== */
.bg-salmon {
	background-color: #d36a50;
}
.bg-pink-salmon {
	background-color: #ff9966;
}
.bg-dead-salmon {
	background-color: #e29f81;
}
.bg-wheat {
	background-color: #e2c23b;
}
.bg-light-wheat {
	background-color: #f9d782;
}
.bg-almond {
	background-color: #F4E1B8;
}
.bg-moss {
	background-color: #90ad63;
}
.bg-lichen {
	background-color: #a7ba86;
}
.bg-loquacious {
	background-color: #B0852E;
}
.bg-dead-loquacious {
	background-color: #cca869;
}
.bg-moss-fade {
	background-color: #e9efe0;
}
.bg-teal {
	background-color: #4f878c;
}
.bg-light-teal {
	background-color: #669999;
}
.bg-lavender {
	background-color: #65587b;
}
.bg-gray-lavender {
	background-color: #666072;
}
.bg-dead-lavender {
	background-color: #7f788e;
}
.bg-primary {
	background-color: #C0E1E5;
	color: #222222;
}
.bg-success {
	background-color: #DFF0D8;
	color: #2B542C;
}
.bg-info {
	background-color: #D9EDF7;
}
.bg-warning {
	background-color: #FCF8E3;
}
.bg-danger {
	background-color: #F2DEDE;
}
/* ====== gray scale classes ====== */
.white, a.white {
	color: #fff;
}
.gray-10, a.gray-10 {
	color: #e6e7e8;
}
.gray-20, a.gray-20 {
	color: #d1d3d4;
}
.gray-30, a.gray-30 {
	color: #bcbec0;
}
.gray-40, a.gray-40 {
	color: #a7a9ac;
}
.gray-50, a.gray-50 {
	color: #939598;
}
.gray-60, a.gray-60 {
	color: #808285;
}
.gray-70, a.gray-70 {
	color: #6d6e71;
}
.gray-80, a.gray-80 {
	color: #58595b;
}
.gray-90, a.gray-90 {
	color: #414042;
}
.bg-white {
	background-color: #fff;
}
.bg-gray-5 {
	background: #f5f5f5;
}
.bg-gray-10 {
	background: #efeeed;
}
.bg-gray-20 {
	background: #e6e4e2;
}
.bg-gray-30 {
	background: #cccac8;
}
.bg-gray-40 {
	background: #bfbdbb;
}
.bg-gray-50 {
	background: #b3b1af;
}
.bg-gray-80 {
	background: #807e7d;
}
.bg-gray-90 {
	background: #4d4c4b;
}
.bg-black {
	background-color: #000;
}
/* ====== font icons ====== */
.bootstrap .glyphicon, .font-awesome .fa {
	font-size: 24px;
}
.glyphicon.glyphicon-menu-down {
	font-size: 10px;
}
.icon-arrow-left:before {
	content: "\e094";
	font-size: 22px;
}
.icon-arrow-right:before {
	content: "\e095";
	font-size: 22px;
}
.icon-arrow-up:before {
	content: "\e096";
	font-size: 22px;
}
.icon-arrow-down:before {
	content: "\e097";
	font-size: 22px;
}
.scroll-indicator {
	background-color: #fff;
	border: 3px solid #ddd;
	border-radius: 50%;
	bottom: -35px;
	box-sizing: border-box;
	color: #dddddd;
	font-size: 40px;
	font-style: normal;
	font-weight: normal;
	height: 80px;
	padding-top: 8px;
	position: relative;
	text-align: center;
	width: 80px;
}
.fa-facebook:active, .fa-facebook:hover, .fa-facebook:focus {
	color: #3C5A99;
	transition: all 0.4s ease-out 0s;
}
.fa-twitter:active, .fa-twitter:hover, .fa-twitter:focus {
	color: #28A9E0;
	transition: all 0.4s ease-out 0s;
}
.fa-pinterest:active, .fa-pinterest:hover, .fa-pinterest:focus {
	color: #B93936;
	transition: all 0.4s ease-out 0s;
}
.fa-youtube-play:active, .fa-youtube-play:hover, .fa-youtube-play:focus {
	color: #C71D20;
	transition: all 0.4s ease-out 0s;
}
.fa-flickr:active, .fa-flickr:hover, .fa-flickr:focus {
	color: #FF0084;
	transition: all 0.4s ease-out 0s;
}
/* ====== border classes ====== */
.border {
	border: 6px solid #eee;
}
.border-top {
	border-top: 6px solid #eee;
}
.border-right {
	border-right: 6px solid #eee;
}
.border-bottom {
	border-bottom: 6px solid #eee;
}
.border-left {
	border-left: 6px solid #eee;
}
/* ====== margin and padding classes ====== */
.no-margin {
	margin: 0;
}
.no-margin-top {
	margin-top: 0;
}
.no-margin-right {
	margin-right: 0;
}
.no-margin-bottom {
	margin-bottom: 0;
}
.no-margin-left {
	margin-left: 0;
}
.margin-5 {
	margin: 5px;
}
.margin-top-5 {
	margin-top: 5px;
}
.margin-right-5 {
	margin-right: 5px;
}
.margin-bottom-5 {
	margin-bottom: 5px;
}
.margin-left-5 {
	margin-left: 5px;
}
.margin-10 {
	margin: 10px;
}
.margin-top-10 {
	margin-top: 10px;
}
.margin-right-10 {
	margin-right: 10px;
}
.margin-bottom-10 {
	margin-bottom: 10px;
}
.margin-left-10 {
	margin-left: 10px;
}
.margin-15 {
	margin: 15px;
}
.margin-top-15 {
	margin-top: 15px;
}
.margin-right-15 {
	margin-right: 15px;
}
.margin-bottom-15 {
	margin-bottom: 15px;
}
.margin-left-15 {
	margin-left: 15px;
}
.margin-30 {
	margin: 30px;
}
.margin-top-30 {
	margin-top: 30px;
}
.margin-right-30 {
	margin-right: 30px;
}
.margin-bottom-30 {
	margin-bottom: 30px;
}
.margin-left-30 {
	margin-left: 30px;
}
.margin-40 {
	margin: 40px;
}
.margin-top-40 {
	margin-top: 40px;
}
.margin-right-40 {
	margin-right: 40px;
}
.margin-bottom-40 {
	margin-bottom: 40px;
}
.margin-left-40 {
	margin-left: 40px;
}
.margin-60 {
	margin: 60px;
}
.margin-top-60 {
	margin-top: 60px;
}
.margin-right-60 {
	margin-right: 60px;
}
.margin-bottom-60 {
	margin-bottom: 60px;
}
.margin-left-60 {
	margin-left: 60px;
}
.margin-80 {
	margin: 80px;
}
.margin-top-80 {
	margin-top: 80px;
}
.margin-right-80 {
	margin-right: 80px;
}
.margin-bottom-80 {
	margin-bottom: 80px;
}
.margin-left-80 {
	margin-left: 80px;
}
.margin-100 {
	margin: 100px;
}
.margin-top-100 {
	margin-top: 100px;
}
.margin-right-100 {
	margin-right: 100px;
}
.margin-bottom-100 {
	margin-bottom: 100px;
}
.margin-left-100 {
	margin-left: 100px;
}
.margin-bottom-160 {
	margin-bottom: 160px;
}
.margin-top-100-sm {
	margin-top: 100px;
}
.no-padding {
	padding: 0;
}
.no-padding-top {
	padding-top: 0;
}
.no-padding-right {
	padding-right: 0;
}
.no-padding-bottom {
	padding-bottom: 0;
}
.no-padding-left {
	padding-left: 0;
}
.padding-15 {
	padding: 15px;
}
.padding-top-15 {
	padding-top: 15px;
}
.padding-right-15 {
	padding-right: 15px;
}
.padding-bottom-15 {
	padding-bottom: 15px;
}
.padding-left-15 {
	padding-left: 15px;
}
.padding-20 {
	padding: 20px;
}
.padding-top-20 {
	padding-top: 20px;
}
.padding-right-20 {
	padding-right: 20px;
}
.padding-bottom-20 {
	padding-bottom: 20px;
}
.padding-left-20 {
	padding-left: 20px;
}
.padding-30 {
	padding: 30px;
}
.padding-top-30 {
	padding-top: 30px;
}
.padding-right-30 {
	padding-right: 30px;
}
.padding-bottom-30 {
	padding-bottom: 30px;
}
.padding-left-30 {
	padding-left: 30px;
}
.padding-40 {
	padding: 40px;
}
.padding-top-40 {
	padding-top: 40px;
}
.padding-right-40 {
	padding-right: 40px;
}
.padding-bottom-40 {
	padding-bottom: 40px;
}
.padding-left-40 {
	padding-left: 40px;
}
.padding-60 {
	padding: 60px;
}
.padding-top-60 {
	padding-top: 60px;
}
.padding-right-60 {
	padding-right: 60px;
}
.padding-bottom-60 {
	padding-bottom: 60px;
}
.padding-left-60 {
	padding-left: 60px;
}
.padding-80 {
	padding: 80px;
}
.padding-top-80 {
	padding-top: 80px;
}
.padding-right-80 {
	padding-right: 80px;
}
.padding-bottom-80 {
	padding-bottom: 80px;
}
.padding-left-80 {
	padding-left: 80px;
}
.padding-100 {
	padding: 100px;
}
.padding-top-100 {
	padding-top: 100px;
}
.padding-right-100 {
	padding-right: 100px;
}
.padding-bottom-100 {
	padding-bottom: 100px;
}
.padding-left-100 {
	padding-left: 100px;
}
.padding-top-120 {
	padding-top: 120px;
}
.padding-top-140 {
	padding-top: 140px;
}
.padding-top-160 {
	padding-top: 160px;
}
.padding-bottom-120 {
	padding-bottom: 120px;
}
.padding-bottom-140 {
	padding-bottom: 140px;
}
.padding-bottom-160 {
	padding-bottom: 160px;
}
.popover {
	font-family: "Ubuntu", arial, sans-serif;
	font-size: 16px;
	font-weight: 300;
	z-index: 1000;
}
.popover-title, .popover-content {
	text-align: left;
}
.popover-title {
	background-color: #f5f5f5;
}
.text-capitalize, .text-uppercase {
	text-transform: capitalize;
	text-transform: uppercase;
}
.cse input.gsc-input, input.gsc-input {
	border: 1px solid #bbb;
	font-family: inherit;
	font-size: 30px;
	padding: 3px 6px;
	width: 99%;
}
/* ====== Ken Burns effect ====== */

.kb-slideshow-background {
	height: 225px;
}
.kb-slideshow {
	position: absolute;
	width: 100%;
	height: 225px;
	overflow: hidden;
}
.kb-slideshow-image {
	position: absolute;
	width: 100%;
	height: 225px;
	background: no-repeat 50% 50%;
	background-size: cover;
	animation-name: kenburns;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-duration: 30s;
	opacity: 1;
	transform: scale(1.05);
}
.kb-slideshow-image:nth-child(1) {
	animation-name: kenburns-1;
	z-index: 3;
}
.kb-slideshow-image:nth-child(2) {
	animation-name: kenburns-2;
	z-index: 2;
}
.kb-slideshow-image:nth-child(3) {
	animation-name: kenburns-3;
	z-index: 1;
}
.kb-slideshow-image:nth-child(4) {
	animation-name: kenburns-4;
	z-index: 0;
}
 @keyframes kenburns-1 {
 0% {
 opacity: 1;
 transform: scale(1.05);
}
 3% {
 opacity: 1;
}
 24% {
 opacity: 1;
}
 26.5% {
 opacity: 0;
 transform: scale(1);
}
 100% {
 opacity: 0;
 transform: scale(1.05);
}
 98% {
 opacity: 0;
 transform: scale(1.05);
}
 100% {
 opacity: 1;
}
}
@keyframes kenburns-2 {
 24% {
 opacity: 1;
 transform: scale(1);
}
 26% {
 opacity: 1;
}
 48% {
 opacity: 1;
}
 52% {
 opacity: 0;
 transform: scale(1.05);
}
 100% {
 opacity: 0;
 transform: scale(1);
}
}
@keyframes kenburns-3 {
 48% {
 opacity: 1;
 transform: scale(1.05);
}
 52% {
 opacity: 1;
}
 74% {
 opacity: 1;
}
 76% {
 opacity: 0;
 transform: scale(1);
}
 100% {
 opacity: 0;
 transform: scale(1.05);
}
}
@keyframes kenburns-4 {
 74% {
 opacity: 1;
 transform: scale(1);
}
 76% {
 opacity: 1;
}
 98% {
 opacity: 1;
}
 100% {
 opacity: 0;
 transform: scale(1.05);
}
}

@media (min-width: 768px) {
.kb-slideshow-background {
	height: 325px;
}
.kb-slideshow {
	position: absolute;
	width: 100%;
	height: 325px;
}
.kb-slideshow-image {
	position: absolute;
	width: 100%;
	height: 325px;
}
}

@media (min-width: 992px) {
.kb-slideshow-background {
	height: 500px;
}
.kb-slideshow {
	position: absolute;
	width: 100%;
	height: 500px;
}
.kb-slideshow-image {
	position: absolute;
	width: 100%;
	height: 500px;
}
}
.item blockquote {
	border-left: none;
	margin: 0;
}
/* ====== jquery equal height and vertical align middle ====== */

.flex-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	resize: vertical;
}
/* ====== five columns ====== */
.col-xs-15, .col-sm-15, .col-md-15, .col-lg-15 {
	position: relative;
	min-height: 1px;
	padding-right: 10px;
	padding-left: 10px;
}
/* styles for Springshare */

#tinymce .row {
	margin: 0;
}
#tinymce {
	padding: 20px!important;
}
.s-la-footer.s-la-color-bars.s-la-color-bars-border {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border-top: medium none;
	margin-bottom: 60px;
}
.s-srch-result-meta .metalabel, label.check, .s-srch-result-title, .s-la-faq-listing-q {
	font-weight: 300;
}
.s-srch-result-title {
	font-size: 16px;
}
#s-la-bc .breadcrumb, .s-srch-result-meta, .s-la-faq-listing-meta, .s-srch-top-header, #s-srch-sort-0-btn, #s-srch-facet-0-keywords, #s-srch-facet-0-g, #s-srch-params-0, #s-la-footer-brand, #s-la-footer-admin-links {
	display: none;
}
.s-la-public-header-text {
	float: none;
	margin: 15px 0 30px;
	text-align: center;
	text-transform: uppercase;
}
.s-la-color-bars {
	background-image: none;
}
h1#s-la-public-header-title {
	color: #666;
	font-size: 48px;
	font-weight: 400;
}
.s-srch-askbutton .alert-info {
	background-color: #5d9732;
	border: medium none;
	border-radius: 0;
	color: #fff;
	text-align: center;
}
.alert-info .btn-primary {
	border-radius: 0;
	padding: 10px;
	text-transform: uppercase;
}
button.s-srch-facet-btn {
	color: #fff;
	letter-spacing: 1px;
	padding: 12px;
	text-transform: uppercase;
}
.s-la-header.row.clearfix {
	padding: 0;
}
/* styles for the blogs */


#masthead #site-navigation {
	display: none;
}
.arve-wrapper {
	margin-bottom: 15px;
}
.entry-content img, .comment-content img, .widget img {
	max-width: 100%;
}
img[class*="align"], img[class*="wp-image-"], img[class*="attachment-"] {
	height: auto;
}
img.size-full, img.size-large, img.header-image, img.wp-post-image {
	height: auto;
	max-width: 100%;
}
.entry-content .aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
}
.entry-content .alignleft {
	float: left;
	margin: 0 30px 15px;
}
.entry-content .alignright {
	float: right;
	margin: 0 0 15px 30px;
}
#turnkey-credit, .cat-links, .tags-links, .posts-navigation h2, .post-navigation h2, .comments-link {
	display: none;
}
.posted-on .updated {
	display: none;
}
.entry-meta {
	margin-bottom: 15px;
}
.entry-content {
	display: table-cell;
}
.entry-content .row {
	padding-left: 15px;
	padding-right: 15px;
}
.entry-content > ul {
	list-style-position: inside;
}
.post.type-post {
	border-bottom: 1px solid #efefef;
	clear: both;
	padding-bottom: 30px;
}
.navigation.posts-navigation {
	clear: both;
}
.site-content.container {
	padding-left: 0;
	padding-right: 0;
	padding-top: 15px;
}
.alignleft {
	float: left;
	padding: 20px 20px 5px 0;
	clear: both;
}
.edit-link {
	display: block;
}
.comments-area {
	clear: both;
	display: block;
}
.comment-form-comment label {
	display: none;
}
.comment-body {
	margin: 30px 0;
}
.comments-area .fn {
	font-weight: normal;
}
.comments-area ol {
	list-style-type: none;
	padding-left: 0px;
}
.comment.even {
	border-bottom: 1px solid #efefef;
}
.comments-area .avatar {
	margin: 0 15px 15px 0;
	border-radius: 50%;
}
.comments-area label {
	font-weight: normal;
	margin-right: 10px;
}
.comment-metadata time {
	font-size: 0.9em;
}
.nav-next {
	float: right;
	margin: 20px 0;
}
.nav-next:after {
	content: " »"
}
.nav-previous {
	float: left;
	margin: 20px 0;
}
.nav-previous:before {
	content: "« "
}
.form-submit #submit {
	-moz-user-select: none;
	background-color: #456e70;
	background-image: none;
	border: 0 none;
	border-radius: 0;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 15px;
	font-weight: normal;
	line-height: 1.42857;
	margin-bottom: 0;
	padding: 10px 18px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
}
.form-submit #submit:focus, .form-submit #submit:hover {
	background-color: #4f868b;
}
.s-la-content-iconitem-icon .fa, .s-la-content-iconitem-icon .fa-envelope {
	color: #444;
}
.btn.btn-default.s-la-searchform-button {
	background: #456e70 none repeat scroll 0 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	padding: 7px 20px;
	text-transform: uppercase;
}
.btn.btn-default.s-la-searchform-button:active, .btn.btn-default.s-la-searchform-button:hover, .btn.btn-default.s-la-searchform-button:focus {
	background-color: #4e3b59;
	border: 0;
	color: #ffffff;
	text-decoration: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-transition: 0;
	-moz-transition: 0;
	-ms-transition: 0;
	-o-transition: 0;
	transition: 0;
}
.s-la-navbrowse, .form-control, .input-group .form-control:not(:first-child):not(:last-child), .input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
	border-radius: 0;
}

/* ====== media queries ====== */
@media (min-width: 480px) {
.row-xs-height {
	display: table;
	table-layout: fixed;
	height: 100%;
	width: 100%;
}
}

@media (min-width: 768px) {
.cp_header_biblio_bar .biblionav_my_account {
	max-width: 260px;
}
.talk-bubble {
	min-height: 115px;
}
.text-left-sm {
	text-align: left;
}
.text-right-sm {
	text-align: right;
}
.text-center-sm {
	text-align: center;
}
.text-justify-sm {
	text-align: justify;
}
.col-sm-15 {
	width: 20%;
	float: left;
}
.margin-top-100-sm {
	margin-top: 0;
}
.no-margin-top-sm {
	margin-top: 0px;
}
.insert-break {
	display: none; /* <br class="insert-break" /> */
}
}

/* required for jquery match-height */

@media only screen and (max-width : 767px) {
.equal-height {
	height: auto !important;
}
}

@media (min-width: 992px) {
.padding-top-md-120 {
	padding-top: 120px;
}
.padding-top-md-140 {
	padding-top: 140px;
}
.padding-top-md-160 {
	padding-top: 160px;
}
.padding-top-md-200 {
	padding-top: 200px;
}
.padding-left-md-30 {
	padding-left: 30px;
}
.padding-right-30 {
	padding-right: 30px;
}
.database-box {
	min-height: 235px;
}
.text-left-md {
	text-align: left;
}
.text-right-md {
	text-align: right;
}
.text-justify-md {
	text-align: justify;
}
.col-md-15 {
	width: 20%;
	float: left;
}
.text-center-md {
	text-align: center;
}
.no-margin-top-md {
	margin-top: 0px;
}
.margin-md-30 {
	padding-left: 30px;
	padding-right: 30px;
}
.margin-md-50 {
	padding-left: 50px;
	padding-right: 50px;
}
.margin-md-100 {
	padding-left: 100px;
	padding-right: 100px;
}
}

@media (min-width: 1200px) {
.margin-lg-30 {
	padding-left: 30px;
	padding-right: 30px;
}
.margin-lg-50 {
	padding-left: 50px;
	padding-right: 50px;
}
.margin-lg-100 {
	padding-left: 100px;
	padding-right: 100px;
}
.margin-lg-200 {
	padding-left: 200px;
	padding-right: 200px;
}
.database-dropdown .no-margin a {
	color: #fff;
	line-height: 20px;
	padding: 20px 5px;
	text-align: center;
}
.text-left-lg {
	text-align: left;
}
.text-right-lg {
	text-align: right;
}
.text-center-lg {
	text-align: center;
}
.text-justify-lg {
	text-align: justify;
}
.col-lg-15 {
	width: 20%;
	float: left;
}
}

/* ====== navbar and search media queries ====== */

@media (max-width: 991px) {
.dcl-navbar, .dcl-logo-search {
	display: none !important;
}
}

@media (min-width: 992px) {
.dcl-mobile-navbar {
	display: none !important;
}
}
/* ====== sub-nav and location pan and zoom ====== */

.location-caption {
	padding: 20px 15px 60px;/* apply if needed text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5); */
}
.sub-nav {
	margin: 0 auto;
	max-width: 1920px;
}
.sub-nav-row {
	background-color: #d36a50;
}
.sub-nav-item {
	background-color: #d36a50;
	border-bottom: 1px solid #e79682;
}
.sub-nav-item:hover, .sub-nav-item:focus {
	background-color: #AA5440;
	color: #ffffff;
	text-decoration: none;
}
.sub-nav-item a, .sub-nav-item a:hover {
	text-decoration: none;
	color: #fff;
	font-weight: 400;
	letter-spacing: .2px;
	line-height: 20px;
	padding: 15px;
}
.sub-nav-border {
	border-right: 1px solid #e79682;
}
.sub-nav-border-first {
	border-right: 1px solid #e79682;
	border-left: 1px solid #e79682;
}
.sub-nav .show .fa {
	margin-right: 10px;
}
.event-row {
	font-size: 18px;
	color: #fff;
}
.event-row a {
	color: #fff;
	text-decoration: underline;
}
.event-row .dropdown-menu a {
	color: #B0852E;
	text-decoration: none;
}
.event-row .dropdown-menu a:hover {
	text-decoration: underline;
}
.event-row .btn {
	margin-top: 15px;
}
.event-row a.btn {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}
.event-row h1, .event-row h2, .event-row h3, .event-row h4, .event-row h5, .event-row h6 {
	color: #fff;
}
.event-row > [class*='col-'] {
	padding-right: 0;
	padding-left: 0;
}
.one-featured-item, .two-featured-items, .three-featured-items {
	text-align: center;
	margin: 0 auto;
	font-size: 18px;
	width: 100%;
	padding: 30px 40px 60px;
}
.bg-teal .btn-default {
	background-color: #4e3b59;
	border: 0 none;
	-webkit-box-shadow: 0px 3px 3px -3px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 3px -3px rgba(0,0,0,0.75);
	box-shadow: 0px 3px 3px -3px rgba(0,0,0,0.75);
}
.bg-teal .btn-default:active, .bg-teal .btn-default:hover, .bg-teal .btn-default:focus {
	background-color: #65577b;
	border: 0;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 4px 8px 0;
	-moz-box-shadow: rgba(0, 0, 0, 0.3) 0 4px 8px 0;
	box-shadow: rgba(0, 0, 0, 0.3) 0 4px 8px 0;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease-out;
	-ms-transition: all .4s ease-out;
	-o-transition: all .4s ease-out;
	transition: all .4s ease-out;
	opacity: 1;
	cursor: pointer;
}
.bg-lavender .btn-default {
	background-color: #456e70;
	border: 0 none;
	-webkit-box-shadow: 0px 3px 3px -3px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 3px -3px rgba(0,0,0,0.75);
	box-shadow: 0px 3px 3px -3px rgba(0,0,0,0.75);
}
.bg-lavender .btn-default:active, .bg-lavender .btn-default:hover, .bg-lavender .btn-default:focus {
	background-color: #4f868b;
	border: 0;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 4px 8px 0;
	-moz-box-shadow: rgba(0, 0, 0, 0.3) 0 4px 8px 0;
	box-shadow: rgba(0, 0, 0, 0.3) 0 4px 8px 0;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease-out;
	-ms-transition: all .4s ease-out;
	-o-transition: all .4s ease-out;
	transition: all .4s ease-out;
	opacity: 1;
	cursor: pointer;
}
.event-row .material-icons {
	font-size: 70px;
	padding-top: 9px;
}

@media (min-width: 1200px) {
.sub-nav .no-margin a {
	color: #fff;
	line-height: 20px;
	padding: 20px 5px;
	text-align: center;
}
}
.one-featured-item, .two-featured-items, .three-featured-items {
	margin: 0 auto;
	font-size: 18px;
	width: 100%;
	padding: 30px 40px 60px;
}

@media (min-width: 998px) {
.one-featured-item, .two-featured-items {
	width: 100%;
}
}

@media (min-width: 1250px) {
.one-featured-item, .two-featured-items {
	width: 90%;
}
}

@media (min-width: 1900px) {
.one-featured-item, .two-featured-items {
	width: 70%;
}
}

@media (min-width: 2400px) {
.one-featured-item, .two-featured-items {
	width: 50%;
}
}
/* animations for locations - remove for now
.animate-pop-in-location {
	animation: pop-in 1s forwards;
	animation-delay: .5s;
	opacity: 0;
}
.animate-fade-in-manager {
	animation: fade-in 3s forwards;
	animation-delay: 2s;
	opacity: 0;
}
.animate-fade-in-description {
	animation: fade-in 2s forwards;
	animation-delay: 1s;
	opacity: 0;
}
 @keyframes pop-in {
 0% {
 opacity: 0;
 transform: scale(.5);
}
 100% {
 opacity: 1;
 transform: none;
}
}
 @keyframes fade-in {
 0% {
 opacity: 0;
}
 100% {
 opacity: 1;
}
}
*/
