@charset "UTF-8";
/* CSS Document */
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  text-align: center;
  font-size: 36px;
  font-weight: 500;
  font-style: normal;
  color: #000;
  width: 100%;
  height: 1920px;
  margin: 0 auto;
}
.meeting-room-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.title-date-wrapper {
  color: #fff;
  background: #65577b;
  padding: 30px 15px 40px;
}
.meeting-room-title {
  font-size: 74px;
}
#dateTimeDisplay {
  font-size: 38px;
}
.meeting-room-widget {
  padding: 30px 15px 15px;
}
.reserve-message {
  padding: 30px 15px 40px;
  margin-top: auto;
}